* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(135, 113, 156);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

p {
    text-align: right;
}

input {
    background-color: white;
    display: block;
    height: 40px;
    width: 300px;
    border: none;
}

form {
    border: 1px solid black;
    padding: 3rem;
}

button {
    width: 100%;
    height: 30px;
    margin-top: 1rem;
    font-weight: bolder;
    background-color: beige;
    border: none;
}